<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99539009127-8bqb03ngl15k02o0gfmm1dr8l7blonjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99539009127-8bqb03ngl15k02o0gfmm1dr8l7blonjv</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXIhy9WGA5_n1Cj_qC-jG64Qquuhcqsw</string>
	<key>GCM_SENDER_ID</key>
	<string>99539009127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bikutawi.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-12581</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-12581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99539009127:ios:11d93fa306e2e9fc049ec2</string>
</dict>
</plist>